{% extends 'base_front.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block content %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Commentaire</th>
                <th>Rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.titre }}</td>
                <td>{{ avi.commentaire }}</td>
                <td>{{ avi.rating }}</td>
                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}">show</a>
                    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
