{% extends 'base_back.html.twig' %} 

{% block title %}New Excursion{% endblock %}
{% block stylesheets %} {% endblock %}

{% block content %}
    <h1>Create new Excursion</h1>

   {{ form_start(form, {'attr' : {'novalidate':'novalidate'}}) }}


           {{form_label(form.titre)}}
           {{form_widget(form.titre,{'attr':{'class':'form-control'}})}}
           <div class="text-danger">{{ form_errors(form.titre)}}</div>
                      {{form_label(form.description)}}
           {{form_widget(form.description,{'attr':{'class':'form-control'}})}}
           <div class="text-danger">{{ form_errors(form.description)}}</div>
                      {{form_label(form.ville)}}
           {{form_widget(form.ville,{'attr':{'class':'form-control'}})}}
           <div class="text-danger">{{ form_errors(form.ville)}}</div>
           {{form_label(form.latitude)}}
           {{form_widget(form.latitude,{'attr':{'class':'form-control'}})}}
           {{form_label(form.longitude)}}
           {{form_widget(form.longitude,{'attr':{'class':'form-control'}})}}
            {{form_label(form.relation)}}
           {{form_widget(form.relation,{'attr':{'class':'form-control'}})}}
           <div class="text-danger">{{ form_errors(form.relation)}}</div>
                      {{form_label(form.video)}}
           {{form_widget(form.video,{'attr':{'class':'form-control'}})}}
                    
{{ form_end(form) }}

    <a href="{{ path('app_excursion_index') }}">back to list</a>
{% endblock %}
