<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}hermes voyage{% endblock %}</title>
    {% block stylesheet%}
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/mdi/css/materialdesignicons.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/flag-icon-css/css/flag-icon.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/css/vendor.bundle.base.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('back_office/assets/css/style.css') }}" />
    <link rel="shortcut icon" href="{{ asset('back_office/assets/images/h.png') }}" />
    {% endblock %}
    </head>
  <body>
{% block body%}
 
  <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row"  style="background-color: #FBFCFA; color: #fff; padding: 20px;">
  <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between" style="background-color: #FBFCFA; color: #fff; padding: 20px;">
  <h3 class="mb-0" style="font-family: ' Helvetica', sans-serif; color: #94BDB5; font-weight: bold; font-style: italic; text-align: center; " >{% block page_heading %} - Bienvenue -{% endblock %}</h3>
    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="back_office/assets/images/hermesfinal.png" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
 
    </button>
    <ul class="navbar-nav"  style="background-color: #FBFCFA; color: #fff; padding: 20px;">
      <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex" style="background-color: #FBFCFA; color: #fff; ">
        <form class="nav-link form-inline mt-2 mt-md-0">
 
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
 
            <div class="input-group-append">
              <span class="input-group-text">
 
                <i class="mdi mdi-magnify"></i>
              </span>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
 
    <div class="container-scroller">
     <nav class="sidebar sidebar-offcanvas active" id="sidebar"  style="background-color: #94BDB5; color: #fff; ">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <a class="sidebar-brand brand-logo" href="#"> 
          <img src="{{ asset('back_office/assets/images/cap.png') }}" > </img>
        </div>
        <br>
<br>
 
        <ul class="nav">
          <li class="nav-item nav-profile">
 
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class="mdi mdi-home menu-icon"></i>
 
              <span class="menu-title"> Acceuil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion  </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                                   <a class="nav-link" href="">Ajouter Un Voyage </a>
                </li>
                <li class="nav-item">
 
                  <a class="nav-link" href="#"> Liste des voyages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ajouter un programme </a>
                </li>
                <li class="nav-item">
 
                  <a class="nav-link" href="#"> Liste des programme </a>
                </li>
              </ul>
            </div>
         <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion hebergement </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">hebergement </a>
                </li>
              </ul>
            </div>
 
           <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion evenements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">evenements</a>
                </li>
              </ul>
            </div>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion transport</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">transport </a>
                </li>
              </ul>
            </div>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion des utilisateurs </span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{{path('app_user_index')}}"> Utilisateurs </a>
                </li>
              </ul>
            </div>
             <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{{path('app_user_new')}}"> Ajouter un Utilisateur </a>
                </li>
              </ul>
            </div>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="true" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title">Gestion E-Tourism</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse show" id="ui-basic" style="">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">E-Tourism</a>
                </li>
              </ul>
            </div>
 
          <li class="nav-item sidebar-actions">
            <div class="nav-link">
              <div class="mt-4">
                <div class="border-none">
                  <p class="text-black">Notification</p>
                </div>
                <ul class="mt-4 pl-0">
                  <li><a href="{{ path('app_logout') }}">signout</a>
</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
 
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <!-- Theme Settings Content Goes Here -->
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <!-- Navbar Content Goes Here -->
        </nav>
        <div class="main-panel">
          <div class="content-wrapper pb-0">
 
            <div class="page-header flex-wrap">
 
 
 
 
 
              <div class="d-flex">
                <!-- Page Header Buttons Goes Here -->
              </div>
            </div>
            {% block content %}
              <!-- Main Content Goes Here -->
            {% endblock %}
          </div>
          <footer class="footer">
            <footer class="footer">
 
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; 2024 Hermes Voyage. Tous droits réservés.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
 
          </footer>
        </div>
      </div>
    </div>
     {% block javascripts %}
    <!-- Container Scroller -->
    <!-- Plugins:js -->
    <script src="{{ asset('back_office/assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- Endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ asset('back_office/assets/vendors/chart.js/Chart.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- Inject:js -->
    <script src="{{ asset('back_office/assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('back_office/assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('back_office/assets/js/misc.js') }}"></script>
    <!-- Endinject -->
    <!-- Custom js for this page -->
    <script src="{{ asset('back_office/assets/js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
      {% endblock %} 
 {% endblock %} 
  </body>
 
</html>