{% extends 'base_back.html.twig' %}

{% block title %}Programme{% endblock %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title" style="color: #D0A343;">Programme</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #94BDB5;">
          <li class="breadcrumb-item"><a href="#" style="color: #4F818C;">Programme</a></li>
          <li class="breadcrumb-item active" aria-current="page" style="color: #4F818C;">Détails</li>
        </ol>
      </nav>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 grid-margin stretch-card">
        <div class="card" style="border-color: #4F818C;">
          <div class="card-body">
            <h4 class="card-title" style="color: #D0A343;">Détails du programme</h4>
            <table class="table">
              <tbody>
                <tr>
                  <th>Id</th>
                  <td>{{ programme.id }}</td>
                </tr>
                <tr>
                  <th>Activite</th>
                  <td>{{ programme.activite }}</td>
                </tr>
                <tr>
                  <th>Datedepart</th>
                  <td>{{ programme.datedepart ? programme.datedepart|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                  <th>Dateretour</th>
                  <td>{{ programme.dateretour ? programme.dateretour|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{ programme.description }}</td>
                </tr>
              </tbody>
            </table>
            <a href="{{ path('app_programme_index') }}" class="btn btn-secondary" style="background-color: #D0A343; border-color: #D0A343;">Retour à la liste</a>
            <a href="{{ path('app_programme_edit', {'id': programme.id}) }}" class="btn btn-primary" style="background-color: #D0A343; border-color: #D0A343;">Modifier</a>
            {{ include('programme/_delete_form.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <!-- Footer Content Goes Here -->
  </footer>
</div>
{% endblock %}
